In [1]:
from pycaret.classification import *
from sklearn.preprocessing import OneHotEncoder
import pandas as pd
import numpy as np

In [2]:
baseline = pd.read_pickle("Baseline_nan.pkl")

In [3]:
baseline.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5584553 entries, 0 to 460948
Data columns (total 22 columns):
 #   Column                 Dtype
---  ------                 -----
 0   IS_DELAYED             int32
 1   FL_DATE                object
 2   UNIQUE_CARRIER         object
 3   AIRLINE_ID             int64
 4   FL_NUM                 object
 5   ORIGIN_AIRPORT_ID      object
 6   ORIGIN_CITY_MARKET_ID  object
 7   ORIGIN_WAC             object
 8   DEST_AIRPORT_ID        object
 9   DEST_WAC               float64
 10  DEP_DELAY              float64
 11  DEP_TIME               object
 12  ARR_TIME               object
 13  ARR_DELAY              float64
 14  CANCELLED              float64
 15  AIR_TIME               float64
 16  DISTANCE               float64
 17  DISTANCE_GROUP         float64
 18  WHEELS_ON              float64
 19  WHEELS_OFF             float64
 20  TAXI_OUT               object
 21  CRS_ARR_TIME           float64
dtypes: float64(10), int32(1), int64(1), object(10)
memory usage: 958.7+ MB

In [4]:
baseline = baseline.drop(["ARR_DELAY","FL_NUM","ORIGIN_WAC","WHEELS_OFF","WHEELS_ON","DEP_DELAY","DISTANCE","CRS_ARR_TIME","DEP_TIME"], axis=1)

In [5]:
listt = baseline.columns.to_list()

In [6]:
baseline_20 = baseline.iloc[0:200000]

In [7]:
listt

['IS_DELAYED',
 'FL_DATE',
 'UNIQUE_CARRIER',
 'AIRLINE_ID',
 'ORIGIN_AIRPORT_ID',
 'ORIGIN_CITY_MARKET_ID',
 'DEST_AIRPORT_ID',
 'DEST_WAC',
 'ARR_TIME',
 'CANCELLED',
 'AIR_TIME',
 'DISTANCE_GROUP',
 'TAXI_OUT']

In [8]:
s = setup(baseline_20, target = 'IS_DELAYED', session_id = 123)

In [9]:
# functional API
best = compare_models(include=["et"])

In [10]:
# pip install "schemdraw<0.16"

In [11]:
# functional API
evaluate_model(best)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…